html{
    font-family: 'Arial';
}

.container{
    padding: 15px;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.bloco{
    display: flex;
    padding:5px;
    align-items: center;
}
.bloco.blocoColuna{
    flex-direction: column;
}
table,th,td{
    border: 1px solid black;
    border-collapse: collapse;
}
th,td{
    padding:10px;
}
.bloco.blocoLinha{
    justify-content: space-between
}
input{
    border: 2px solid black;
    padding: 5px;
    font-size: 20px;
}
#Plus{
    font-size: 50px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 0 15px;
}
.right{
    float:right;
}

.paginacao {
    display: inline-block;
    margin-top: 15px;
}
.paginacao a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}
  
.paginacao a.active {
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
}
  
.paginacao a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}
footer object{
    position: absolute;
    bottom: 0;
    width: 99%;
    height: 60px;
    float: right;
}
.CopyrightFooter>body{
    display: flex;
    justify-content: flex-end;
}
.copyright{
    float: right;
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
}
body{
    width: 99%;
    box-sizing: border-box;
}
.navBody{
    margin:0;
    width: 99vw;
    background-color: #C2C8C8;
}
nav object{
    height: 270px;
    width: 100%;
}
.Nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.fotoUsuario{
    height: 200px;
    width: 175px;
}
.loginLogout{
    text-align: center;
}
.info{
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
div.options>ul li{
    display: inline;
    padding: 0 30px;
}
div.options>ul{
    padding: 0;
    margin: 0;
}
.options a{
    text-decoration: none;
    color: black;
}

